<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet.Standard" version="0.0.6" />
  <package id="SocketIoClientDotNet" version="0.9.13" manuallyInstalled="true" />
  <package id="SocketIoClientDotNet.Standard" version="0.0.6" manuallyInstalled="true" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" />
  <package id="System.Collections.Immutable" version="1.7.0" />
  <package id="WebSocket4Net" version="0.15.2" />
</packages>